body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(239, 85, 85);
    padding: 20px;
    text-align: center;
}

#info-personal, #habilidades {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

#info-personal h2, #habilidades h2 {
    font-size: 24px;
}

#habilidades ul {
    list-style-type: square;
}

footer {
    background-color: #f1f1f1;
    color: #333;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}



/* Estilos responsivos */

/* Estilos para móviles */
@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
  header,
  section,
  footer {
    padding: 10px;
  }
  h1, h2 {
    font-size: 18px;
  }
}

/*Estilos para pantallas medianas (tablets)*/
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    header, #info-personal, #habilidades {
        padding: 20px;
    }
    h1, h2 {
        font-size: 22px;
    }
}

/*Estilos para pantallas grandes (desktops)*/
@media only screen and (min-width: 1025px) {
    header, #info-personal, #habilidades {
        padding: 30px;
    }

    h1, h2 {
        font-size: 28px;
    }
}